<main class="about pad">
    <section class="about-me">
        <div class="about-container">
            <span class="tag">◉ Available for work</span>
            <h3><<span class="deco">/</span>About me></h3>
            <article class="parragraph-contianer">
                <p>I am a student of the University Technician in <span class="remark-text">Web Development</span> at the National University of La Matanza (UNLaM). <br>I am passionate about creating functional web solutions with a good user experience, applying my knowledge.
                    <br>I consider myself a proactive, detail-oriented person with a great ability to learn new technologies. I enjoy working as a team and facing challenges that allow me to continue growing as a developer. </p>
            </article>
            <div class="buttons">
                <a href="home/" class="button primary-button">Contact me</a>
                <a href="/public/cv/CV-Tomas-Diuorno.pdf" download="CV-TomasDiuorno" class="button secondary-button">View resume</a>
            </div>
        </div>
        <div class="img-container">
            <img src="/public/img/desarrollo-web-7865771-6308109.png"/>
        </div>
    </section>
</main>