<footer class="pad">
    <div class="footer-info">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
    </div>
    <div class="perfil-img-container">
        <img src="public/img/perfil.jpg"/>
    </div>
</footer>
<script src="public/js/app.js"></script>
</body>
</html>