<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font: Outfit -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="icon" type="image/png" href="/public/img/icon.png">
    <title>Tomas Diuorno | Web Developer</title>
</head>
<body>
<header>
    <nav class="nav">
        <div class="logo">tomas@portfolio:~$</div>
            <a href="#about">about</a>
            <a href="#stack">stack</a>
            <a href="#projects">projects</a>
            <a href="#contact">contact me</a>
    </nav>
</header>
