<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/portfolio/">

    <!-- Font: Outfit -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="icon" type="image/png" href="/public/img/icon.png">
    <title>Document</title>
</head>
<body>
<header>
    <nav class="pad">
        <div class="bar">

        <ul class="folders-container">
            <li class="folders">
                <a href="/portfolio/base" class="folder-container"><img src="/public/img/folder.png"><span>/home</span></a>
            </li>
            <li class="folders">
                <a href="#about" class="folder-container"><img src="/public/img/folder.png"><span>/about</span></a>
            </li>
            <li class="folders">
                <a href="#skills" class="folder-container"><img src="/public/img/folder.png"><span>/stack</span></a>
            </li>
            <li class="folders">
                <a href="#projects" class="folder-container"><img src="/public/img/folder.png"><span>/projects</span></a>
            </li>
            <li class="folders">
                <a href="/portfolio/" class="folder-container"><img src="/public/img/folder.png"><span>/contact</span></a>
            </li>
        </ul>
        </div>
    </nav>
</header>
