<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font: Outfit -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="public/css/home.css">
    <link rel="stylesheet" href="public/css/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <nav class="navbar pad">
        <a class="name-logo neon" id="name-logo" href="/portfolio/"></a>
        <ul>
            <li ><a class="neon" href="/portfolio/" >HOME</a></li>
            <li ><a class="neon" href="/portfolio/" >ABOUT ME</a></li>
            <li ><a class="neon" href="/portfolio/" >SKILLS</a></li>
            <li ><a class="neon" href="/portfolio/" >POJECTS</a></li>
            <li ><a class="neon" href="/portfolio/" >CONTACT</a></li>
        </ul>
    </nav>
</header>
<script src="public/js/app.js"></script>