<main class="home">
    <section class="banner-main pad">
        <div class="title">
            <h2><span class="waving-emoji" id="waving-emoji" aria-hidden="true">👋</span> Hello word! I'm</h2>
            <h1>Tomas Diuorno</h1>
            <p>Web developer student</p>
        </div>
    </section>
    <section class="about-me pad">
        <div class="about-container">
            <span class="tag">◉ Available for work</span>
            <h3><<span class="deco">/</span>About me></h3>
            <article class="parragraph-contianer">
                <p>I am a student of the University Technician in <span class="remark-text">Web Development</span> at the National University of La Matanza (UNLaM). <br>I am passionate about creating functional web solutions with a good user experience, applying my knowledge.
                <br>I consider myself a proactive, detail-oriented person with a great ability to learn new technologies. I enjoy working as a team and facing challenges that allow me to continue growing as a developer. </p>
            </article>
            <div class="buttons">
                <a href="home/" class="button primary-button">Contact me</a>
                <a href="public/cv/CV-Tomas-Diuorno.pdf" download="CV-TomasDiuorno" class="button secondary-button">View resume</a>
            </div>
        </div>
        <div class="img-container">
            <img src="public/img/desarrollo-web-7865771-6308109.png"/>
        </div>
    </section>
    <section class="skills pad">
        <h3><<span class="deco">/</span>Skills></h3>
            <div class="skills-container">
                {{#skills}}
                <div class="skill-card">
                    <div class="skill-img-container">
                        <img src='{{image}}'/>
                    </div>
                    <h4>{{title}}</h4>
                </div>
                {{/skills}}
            </div>
    </section>
    <section class="skills pad">
        <h3><<span class="deco">/</span>Technologies></h3>
        <div class="skills-container">
            {{#technologies}}
                <div class="skill-card">
                    <div class="skill-img-container">
                        <img src='{{image}}'/>
                    </div>
                    <h4>{{title}}</h4>
                </div>
            {{/technologies}}
        </div>
    </section>
    <section class="projects pad">
        <h3><<span class="deco">/</span>Projects></h3>
        <div class="projects-container">
        {{#projects}}
            <div class="project-card">
                <h4 class="project-title">{{title}}</h4>
                <p class="project-description">{{description}}</p>
                <span class="project-skill">hola</span>
                <div class="project-img-cont">
                    <img src="{{image}}">
                </div>
            </div>
        {{/projects}}
        </div>
    </section>
</main>