<main class="home">
    <div class="banner-main pad">
        <div class="col-uno">
            <section class="title">
                <h2>Hi, I'm</h2>
                <h1>Tomas Diuorno</h1>
            </section>
        </div>
        <div class="col-dos">
            <span>Aca va una imagen</span>
        </div>
    </div>
    <div class="proyects-container">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
</main>