*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    width: 100%;
    padding: 0 15%;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.perfil-img-container{
    display: block;
    height: 2em;
    width: 2em;
    overflow: hidden;
    border-radius: 50%;
}
.perfil-img-container img{
    width: 100%;
}
.navbar ul{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 1em;
}
.navbar ul li{
    list-style-type: none;
}
.navbar ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 1em;
}